<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.milk.auth.mapper.SysRoleMapper">

    <select id="pageList" resultType="com.milk.model.pojo.SysRole">
        select * from sys_role
<where>
    <if test="name !=null and name !=''">
        and role_name like concat('%',#{name},'%')
    </if>
and is_deleted=0
</where>
order by id desc
    </select>
</mapper>